# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
/vendor
.env
/app

# Helm chart dependencies
**/charts/*.tgz

# IDEs metadata
.idea
.vscode

# OS metadata
.DS_Store

# Coverage Report Files
coverage.html
coverage.txt
coverage.xml
coverage_all.txt
cover.out.tmp